body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
	background-color: #63A8A4;
	text-align: left;
	float: left;
}

nav {
	background-color: white;
	float: right;
}

hr {
	padding: 0;
	margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content {
	margin: auto;
	width: 50%;
	z-index: 1;
}
.gray-pattern {
	background-color: #EBEBEB;
	padding: 50px;
}

.teal {
	background-color: #63A8A4;
	padding: 5px;
}

footer {
	background-color: #666666;
	text-align: center;
}

#about-me, #connect {
	background-color: white;
	float: left;
}

#about-me {
	float: left;
	width: 60%;
}

#connect {
	float: right;
}
